.Chat-list-grid .Header {
  color: white;
  line-height: 48px;
}

.Chat-page-header {
  color: white;
  padding: 0 20px;
  line-height: 48px
}
.Chat-list-container {
  flex: 1;
  border-right: 1px solid $color-light-grey;
}
